<ion-view view-title="Listado de citas">
      <ion-content>

      <div class="list">
		  <div class="item item-button-right">
		    <!-- Texto -->
		    <p> </p>
		    <p> </p>
		    <p> </p>
		    <p> </p>
		    <p> </p>

		    <button class="button button-positive" ng-click="reloadList()">
		      <i class="icon ion-refresh"></i>
		    </button>
		  </div>
		</div>

	      <ion-list show-delete="shouldShowDelete"
		          show-reorder="shouldShowReorder"
		          can-swipe="listCanSwipe">
		  
		  <ion-item id="{{item.RowKey}}" ng-repeat="item in listado"
		            class="item item-avatar" list-click="-163px">

		    <img ng-src="{{item.imagen}}">
		    <h2>{{item.solicitadaPor}}</h2>
		    <p>Fecha {{item.fecha}}</p>
		    <p>Estado {{item.aceptadaPrestador | AceptadoDenegado}}</p>		    
		    <p>Estado usuario {{item.aceptadaUsuario | AceptadoDenegado}}</p>		    
		    
		    <ion-option-button class="button-positive"
		                       ng-click="aceptar(item)">
		      Aceptar
		    </ion-option-button>

		    <ion-option-button class="button-assertive"
		                       ng-click="cancelar(item)">
		      Denegar
		    </ion-option-button>
		    
		    

		  </ion-item>
		</ion-list>

      </ion-content>
</ion-view>