<div class="flex-container">
  <ion-item ng-repeat="n in items | filter:'parte1'">
    <a>
	    <pieza-completa width="width" height="height" mostrar-boton-supernumerario="false" item='n'>
		  </pieza-completa> 
	</a>
  </ion-item>
</div>

<div class="flex-container" style="justify-content:center;">
  <ion-item ng-repeat="n in items | filter:'parte2'">
    <a>
      <pieza-completa width="width" height="height" mostrar-boton-supernumerario="false" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>

<div class="flex-container" style="justify-content:center;">
  <ion-item ng-repeat="n in items | filter:'parte3'">
    <a>
      <pieza-completa width="width" height="height" mostrar-boton-supernumerario="false" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>

<div class="flex-container">
  <ion-item ng-repeat="n in items | filter:'parte4'">
    <a>
      <pieza-completa width="width" height="height" mostrar-boton-supernumerario="false" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>

