<ion-view view-title="Parametrizar tratamientos" ng-controller="TpTratamientosCtrl as vm">
	<ion-content ion-content scroll="true" class="fondo" >

	<label class="item item-divider">
           <button class="button button-balanced" ng-click="listado()">ver listado tratamientos actuales</button>
	</label> 

	<win-hub id="tratamiento" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" obtener-control="setCtrl(ctrl)">

    <win-hub-section header="'Tipo'" is-header-static="true">

        <div class="list">
		
		  <label class="item item-radio">
		    <input type="radio" name="group" ng-model="tipoTratamiento.name" value="diagnostico">
		    <div class="item-content">
		      Diagnostico
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>

		    <label class="item item-radio">
		    <input type="radio" name="group" ng-model="tipoTratamiento.name" value="procedimiento">
		    <div class="item-content">
		      Procedimiento
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		
		</div>

    </win-hub-section>

    <win-hub-section header="'Indices'" is-header-static="true">

        <div class="item item-divider">
    		Indices
  		</div>
		<ion-checkbox ng-model="Indices.IndiceCEO">Indice Ceo</ion-checkbox>
		<ion-checkbox ng-model="Indices.IndiceCOP">Indice Cop</ion-checkbox>
		<ion-checkbox ng-model="Indices.IndicePlacaBacteriana">Placa bacteriana</ion-checkbox>

    </win-hub-section>

    <win-hub-section header="'Aplica para'">

         <div class="item item-divider">
			Aplica para
		</div>		
		
		<select ng-model="AplicaSeleccionado" ng-options="aplica.nombre for aplica in Aplica" ng-change="cambioAplicaA(AplicaSeleccionado)"></select>

		<div class="item item-divider">
			Fuente
		</div>

		<select ng-model="Fuente" ng-options="fuente.fuente for fuente in Fuentes" ng-change="cambioFuente(Fuente)" ></select>

    </win-hub-section>          

    <win-hub-section header="'Color'" id="seleccionado">
    	<div style="display: inline-block; width: 300px;" ng-show="esModoColor">
	 		<ngjs-color-picker ng-click="clickColor(selectedColor)" selected="selectedColor" options="customOptions">
	 		</ngjs-color-picker>
 		</div>
    </win-hub-section>       

    <win-hub-section header="'Textos'" id="seleccionado">

    	 <div class="item item-divider">
			Modo tratamiento
			<p>La manera en la que se mostrara</p>
			<p>el procedimiento ej un color un simbolo o una letra</p>
		</div>		
		
		<select ng-model="modoTratamientoSeleccionado" 
				ng-options="modo.Modo for modo in modoTratamiento" 
				ng-change="cambioModo(modoTratamientoSeleccionado)">
		</select>

    	<h5>Descripcion del tratamiento ej: (Caries)</h5>
		<input ng-model="textoDescripcion" ng-keyup="tratamientoTexto(textoDescripcion)">

		<p ng-show="esModoColor">Primero debe seleccionar un color</p>
		<p ng-show="esModoColor">de la paleta de la izquierda</p>

		<h5 ng-show="esModoLetra">Letra</h5>
		<input ng-model="textoLetra" ng-show="esModoLetra" ng-keyup="tratamientoLetra(textoLetra)">		


		<h5 ng-show="esModoSimbolo">Symbolo</h5>
		<input ng-model="textoSimbolo" ng-show="esModoSimbolo" ng-keyup="tratamientoSimbolo(textoSimbolo)">	

    </win-hub-section>

    <win-hub-section header="'Previsualizacion'">
        <div class="col"><tratamientos item='tratamientoMuestra'/></div>        
    </win-hub-section>    

    <win-hub-section header="'Finalizar'">
        <div class="col"><button class="button button-balanced" ng-click="guardar()">Guardar</button></div>		  
    </win-hub-section>    
   
    </win-hub>

	</ion-content>
</ion-view>