<<ion-view>
  <ion-content>

	<div class="list">

	  <div class="item item-button-right" ng-click="inicial()">
	    Odontograma inicial
	    <button class="button button-light">
	      <i class="icon ion-arrow-right-c"></i>
	    </button>
	  </div>

  	  <div class="item item-button-right" ng-click="planTratamiento()">
	    Plan de tratamiento
	    <button class="button button-light">
	      <i class="icon ion-arrow-right-c"></i>
	    </button>
	  </div>


	  <div class="item item-button-right" ng-click="evolucion()">
	    Evolucion
	    <button class="button button-light">
	      <i class="icon ion-arrow-right-c"></i>
	    </button>
	  </div>

	  

	</div>
	

  </ion-content>
</ion-view>