<ion-view view-title="Odontograma" ng-controller="odontogramaController as vm">
 <ion-content class="fondo"> 
   
    <div class="bar bar-header bar-positive">
        <div class="button-bar">
          <a class="button" ng-click="izquierda()">  <<  </a>
          <a class="button" ng-click="derecha()"> >> </a>
          <a class="button" ng-click="guardar()"> Guardar </a>
          <a class="button" ng-show="mostrarImprimir" ng-click="imprimir()">imprimir</a>          
        </div> 
    </div>

    
    <win-hub id="odontograma" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" obtener-control="setCtrl(ctrl)">

    <win-hub-section header="'Odontograma'" is-header-static="true">        
        <odontograma-user-control item="vm.item"/>        
    </win-hub-section>

    <win-hub-section header="'Tratamientos'">
        <tratamiento-user-control delete="false"/>
    </win-hub-section>          

    <win-hub-section header="'Pieza seleccionada'" id="seleccionado">
        <listado-piezas-dentales></listado-piezas-dentales>
         <div style="width:300px;" ng-controller="piezaSeleccionadaCtrl">           
            <pieza-completa es-pieza-completa="'true'" width="180" height="180" mostrar-boton-supernumerario="true" item='item'>
            </pieza-completa>
        </div>        
    </win-hub-section>       

    <win-hub-section header="'Tratamientos para esta pieza'">
        <ion-scroll direction="y" style="height: 3000px;">  
            <div id="tratamientosPorPiezaDental">
                <tratamientos-por-pieza-dental>
                </tratamientos-por-pieza-dental>
            </div>
        </ion-scroll>
    </win-hub-section>    

    <win-hub-section header="'Indices'" is-header-static="true">
        
        <div ng-controller="IndicesCtrl">
            <h5># de piezas dentales</h5>
            <input type="text" ng-keyup="numeroPiezasDentales()" ng-model="numeroPiezasPresentes"  placeholder="Numero de piezas presentes">

            <h5>Ceo</h5>
            <span>{{CEO}}</span>

            <h5>Cop</h5>
            <span>{{COP}}</span>

            <h5>Placa bacteriana</h5>
            <span>{{indicePlacaBacteriana}}</span>

        </div>

    </win-hub-section>
   
    </win-hub>

</ion-content>
</ion-view>
